*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --carColor: yellow;
  --windowColor: #474747;
  --bgColor: #c6e4ee;
  --topFillColor: #ffba00;
  --tireColor: #c1c6c1;
  --roadColor: #7e7e7e;
  --trackColor: #d3d3d3;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* // 10px/16px = 62.5% -> 1rem = 10px; */
  /* @media only screen and (min-width: ${props => props.theme.breakPoints.bpLargest}) {
      font-size: 80%; 
  }
  @media only screen and (max-width: ${props => props.theme.breakPoints.bpLarge}) {
      font-size: 50%; 
  } */
}
body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  min-height: 100vh;
  // place-content: center;
  place-items: center;
}
.sun {
  position: absolute;
  top: 0;
  right: 16rem;
}
.main {
  width: 70%;
  height: auto;
  //   border: 1px solid white;
  padding: 1rem;
  margin-bottom: -5rem;
  max-width: 70rem;
}
.carRoof-svg {
  position: relative;
  height: 176px;
  width: 507px;
  #roof {
    fill: #ffba00;
    stroke: #ffba00;
  }
  &__backWindow {
    position: absolute;
    left: 21px;
    top: 85px;
    height: 58px;
    width: 97px;

    #backWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor);
    }
  }
  &__frontWindow {
    right: 177px;
    top: 85px;
    position: absolute;
    height: 69px;
    width: 97px;
    #frontWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor);
    }
  }
  &__leftWindow {
    left: 113px;
    top: 83px;
    position: absolute;
    height: 72px;
    width: 138px;
    z-index: 6;
    #leftWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor);
    }
  }
  &__rightWindow {
    right: 259px;
    top: 87px;
    position: absolute;
    height: 69px;
    width: 150px;
    #rightWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor);
    }
  }
  &__doorFrame {
    position: absolute;
    top: 142px;
    left: 217px;
    z-index: 5;
    opacity: 0.2;
    transform: scale(1.8, 2.2);
  }
}
.carRoof {
  position: relative;
}

.carBase {
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: #ffc919;
  margin-top: -1.5rem;
  border-top-right-radius: 17rem 7rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  // overflow: hidden;

  &-bumper {
    content: "";
    position: absolute;
    height: 7rem;
    width: 6rem;
    top: 8rem;
    left: -1.5rem;
    background-color: #ffc919;
    border-top-left-radius: 3.5rem 5rem;
    border-bottom-left-radius: 4rem 6rem;
    overflow: hidden;
    &__light {
      position: absolute;
      height: 1rem;
      width: 2rem;
      top: 4rem;
      left: -0.5rem;
      background-color: #f70000;
      z-index: 3;
    }
  }

  &-tire {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: absolute;
    background: #989898;
    bottom: -6rem;
    border: solid 16px #5a5a5a;
    animation: rotate360 2s linear 0s infinite;
    svg {
      position: absolute;
      bottom: 2.6rem;
      left: 2.5rem;
      transform: scale(1.5);
    }
  }
  .front {
    right: 11%;
  }
  .back {
    left: 10%;
  }
  .frontLight-white {
    width: 7rem;
    height: 3rem;
    background: white;
    position: absolute;
    right: 1rem;
    top: 4rem;
    border-bottom-left-radius: 4rem 5rem;
    border-top-right-radius: 11rem 3rem;
  }
  .frontLight-black {
    width: 4rem;
    height: 2.5rem;
    background: #474747;
    position: absolute;
    right: 0rem;
    top: 10rem;
    border-top-left-radius: 2rem 4rem;
  }
  &-backLight {
    background-color: red;
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-bottom-right-radius: 3rem 4rem;
  }
}

.background {
  position: absolute;
  z-index: -2;
  bottom: 20rem;
  height: 40rem;
  width: 100%;
  background-image: url(/../svgFiles/bgImagePng.png);
  background-size: 123% 100%;
  background-repeat: repeat;
  animation: moveBackground 20s linear 0s infinite;
  svg {
    width: 100%;
  }
}

.road {
  height: 20rem;
  width: 100%;
  background-color: var(--roadColor);
  position: relative;
  z-index: -1;
  overflow: hidden;
  &-tracks {
    display: flex;
    width: 170%;
    align-self: center;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    animation: moveTracks 2s linear 0s infinite;
    &__lines {
      font-size: 10rem;
      color: var(--trackColor);
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      transform: scale(7.5, 4);
    }
  }
  &-topSideWalk {
    background: linear-gradient(
      to bottom,
      #dac9c1 50%,
      #c9b3a9 50%,
      #b59b8f 60%,
      #bfa497 70%,
      #9c8781 80%,
      #74676b 100%
    );
    height: 3rem;
    width: 100%;
  }
  &-bottomSideWalk {
    background: linear-gradient(
      to bottom,
      #dac9c1 50%,
      #c9b3a9 50%,
      #b59b8f 60%,
      #bfa497 70%,
      #9c8781 80%,
      #74676b 100%
    );
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveTracks {
  0% {
    left: -1rem;
  }
  100% {
    left: -90rem;
  }
}
@-webkit-keyframes moveTracks {
  0% {
    left: -1rem;
  }
  100% {
    left: -90rem;
  }
}
@keyframes moveBackground {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 534%;
  }
}
@-webkit-keyframes moveBackground {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 534%;
  }
}
