*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --carColor: yellow;
  --windowColor: #474747;
  --bgColor: #c6e4ee;
  --bgColorNight: #292929;
  --topFillColor: #ffba00;
  --tireColor: #c1c6c1;
  --roadColor: #7e7e7e;
  --trackColor: #d3d3d3; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* // 10px/16px = 62.5% -> 1rem = 10px; */
  /* @media only screen and (min-width: ${props => props.theme.breakPoints.bpLargest}) {
      font-size: 80%; 
  }
  @media only screen and (max-width: ${props => props.theme.breakPoints.bpLarge}) {
      font-size: 50%; 
  } */ }

body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  min-height: 100vh;
  place-items: center; }

.sun {
  position: absolute;
  top: 0;
  right: 0%;
  z-index: -11; }
  .sun-svgMain {
    fill: rgba(255, 153, 68, 0.94); }
  .sun-offset {
    fill: rgba(255, 153, 68, 0.26); }

.main {
  width: 70%;
  height: auto;
  padding: 1rem;
  margin-bottom: -5rem;
  max-width: 70rem; }

.carRoof-svg {
  position: relative;
  height: 174px;
  width: 507px; }
  .carRoof-svg #roof {
    fill: #ffba00;
    stroke: #ffba00;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite; }
  .carRoof-svg__backWindow {
    position: absolute;
    left: 21px;
    top: 85px;
    height: 58px;
    width: 97px; }
    .carRoof-svg__backWindow #backWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__frontWindow {
    right: 177px;
    top: 85px;
    position: absolute;
    height: 69px;
    width: 97px; }
    .carRoof-svg__frontWindow #frontWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__leftWindow {
    left: 113px;
    top: 83px;
    position: absolute;
    height: 72px;
    width: 138px;
    z-index: 6; }
    .carRoof-svg__leftWindow #leftWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__rightWindow {
    right: 259px;
    top: 87px;
    position: absolute;
    height: 69px;
    width: 150px; }
    .carRoof-svg__rightWindow #rightWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__doorFrame {
    position: absolute;
    top: 142px;
    left: 217px;
    z-index: 5;
    opacity: 0.2;
    transform: scale(1.8, 2.2); }

.carRoof {
  position: relative; }

.carBase {
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: #ffc919;
  margin-top: -1.5rem;
  border-top-right-radius: 17rem 7rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem; }
  .carBase-bumper {
    content: "";
    position: absolute;
    height: 7rem;
    width: 6rem;
    top: 8rem;
    left: -1.5rem;
    background-color: #ffc919;
    border-top-left-radius: 3.5rem 5rem;
    border-bottom-left-radius: 4rem 6rem;
    overflow: hidden; }
    .carBase-bumper__light {
      position: absolute;
      height: 1rem;
      width: 2rem;
      top: 4rem;
      left: -0.5rem;
      background-color: #f70000;
      z-index: 3; }
  .carBase-tire {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: absolute;
    background: #989898;
    bottom: -6rem;
    border: solid 16px #5a5a5a;
    animation: rotate360 2s linear 0s infinite; }
    .carBase-tire svg {
      position: absolute;
      bottom: 2.6rem;
      left: 2.5rem;
      transform: scale(1.5); }
  .carBase .front {
    right: 11%; }
  .carBase .back {
    left: 10%; }
  .carBase .frontLight-white {
    width: 7rem;
    height: 3rem;
    background: white;
    position: absolute;
    right: 1rem;
    top: 4rem;
    border-bottom-left-radius: 4rem 5rem;
    border-top-right-radius: 11rem 3rem; }
  .carBase .frontLight-black {
    width: 4rem;
    height: 2.5rem;
    background: #474747;
    position: absolute;
    right: 0rem;
    top: 10rem;
    border-top-left-radius: 2rem 4rem; }
  .carBase-backLight {
    background-color: red;
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-bottom-right-radius: 3rem 4rem; }

.background {
  position: absolute;
  z-index: -2;
  bottom: 20rem;
  height: 40rem;
  width: 100%;
  background-image: url(/../svgFiles/bgImagePng.png);
  background-size: 123% 100%;
  background-repeat: repeat;
  animation: moveBackground 30s linear 0s infinite; }
  .background svg {
    width: 100%; }

.road {
  height: 20rem;
  width: 100%;
  background-color: var(--roadColor);
  position: relative;
  z-index: -1;
  overflow: hidden; }
  .road-tracks {
    display: flex;
    width: 170%;
    align-self: center;
    overflow: hidden;
    top: -2rem; }
    .road-tracks__lines {
      position: absolute;
      font-size: 7rem;
      color: var(--trackColor);
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      transform: scale(7.5, 4);
      animation: moveTracks 12s linear 0s infinite; }
  .road-topSideWalk {
    background: linear-gradient(to bottom, #dac9c1 50%, #c9b3a9 50%, #b59b8f 60%, #bfa497 70%, #9c8781 80%, #74676b 100%);
    height: 3rem;
    width: 100%; }
  .road-bottomSideWalk {
    background: linear-gradient(to bottom, #dac9c1 50%, #c9b3a9 50%, #b59b8f 60%, #bfa497 70%, #9c8781 80%, #74676b 100%);
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0px; }

@keyframes dash {
  from {
    stroke-dashoffset: 822; }
  to {
    stroke-dashoffset: 0; } }

@keyframes sun {
  from {
    right: -14%; }
  to {
    right: 100%; } }

@keyframes sunMoonTheme {
  0% {
    fill: rgba(255, 153, 68, 0.94); }
  50% {
    fill: rgba(255, 153, 68, 0.94); }
  51% {
    fill: #eae7e4f0; }
  100% {
    fill: #eae7e4f0; } }

@-webkit-keyframes sunMoonTheme {
  0% {
    fill: rgba(255, 153, 68, 0.94); }
  50% {
    fill: rgba(255, 153, 68, 0.94); }
  51% {
    fill: #eae7e4f0; }
  100% {
    fill: #eae7e4f0; } }

@keyframes sunOffsetMoonTheme {
  0% {
    fill: rgba(255, 153, 68, 0.26); }
  50% {
    fill: rgba(255, 153, 68, 0.26); }
  51% {
    fill: rgba(255, 252, 249, 0.26); }
  100% {
    fill: rgba(255, 252, 249, 0.26); } }

@-webkit-keyframes sunOffsetMoonTheme {
  0% {
    fill: rgba(255, 153, 68, 0.26); }
  50% {
    fill: rgba(255, 153, 68, 0.26); }
  51% {
    fill: rgba(255, 252, 249, 0.26); }
  100% {
    fill: rgba(255, 252, 249, 0.26); } }

@keyframes theme {
  0% {
    background-color: var(--bgColor); }
  10% {
    background-color: var(--bgColor); }
  90% {
    background-color: var(--bgColorNight); }
  100% {
    background-color: var(--bgColorNight); } }

@-webkit-keyframes theme {
  from {
    background-color: var(--bgColor); }
  to {
    background-color: var(--bgColorNight); } }

@keyframes rotate360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes moveTracks {
  0% {
    left: -10rem; }
  100% {
    left: -500rem; } }

@-webkit-keyframes moveTracks {
  0% {
    left: -10rem; }
  100% {
    left: -500rem; } }

@keyframes moveBackground {
  0% {
    background-position: 0%; }
  100% {
    background-position: 534%; } }

@-webkit-keyframes moveBackground {
  0% {
    background-position: 0%; }
  100% {
    background-position: 534%; } }

@media only screen and (max-width: 980px) {
  .background {
    bottom: 20rem;
    height: 32rem;
    background-size: 180% 100%; }
  .carRoof {
    width: 100%; }
  .carRoof-svg {
    position: relative;
    height: 157px;
    width: 77%; }
  .carRoof-svg__backWindow {
    position: absolute;
    left: 3%;
    top: 80px;
    height: 57px;
    width: 87px; }
  .carRoof-svg__frontWindow {
    right: 25%;
    top: 80px;
    position: absolute;
    height: 56px;
    width: 88px; }
  .carRoof-svg__leftWindow {
    left: 89px;
    top: 79px;
    position: absolute;
    height: 80px;
    width: 130px;
    z-index: 6; }
  .carRoof-svg__rightWindow {
    right: 34%;
    top: 83px;
    position: absolute;
    height: 80px;
    width: 149px; } }

@media only screen and (max-width: 850px) {
  .background {
    bottom: 20rem;
    height: 32rem;
    background-size: 200% 100%; }
  .main {
    margin-bottom: -13rem;
    transform: scale(0.5);
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .main {
    width: 58rem; }
  .carRoof-svg {
    position: relative;
    height: 14.2rem; }
  .carRoof-svg__backWindow {
    position: absolute;
    left: 1%;
    top: 70px;
    height: 57px;
    width: 87px; }
  .carRoof-svg__frontWindow {
    right: 23%;
    top: 69px;
    position: absolute;
    height: 53px;
    width: 89px; }
  .carRoof-svg__leftWindow {
    left: 89px;
    top: 73px;
    position: absolute;
    height: 80px;
    width: 109px;
    z-index: 6; }
  .carRoof-svg__rightWindow {
    right: 31%;
    top: 83px;
    position: absolute;
    height: 80px;
    width: 166px; }
  .road-tracks__lines {
    font-size: 8rem;
    color: var(--trackColor);
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    transform: scale(7.5, 4); }
  .road-tracks {
    display: flex;
    width: 170%;
    align-self: center;
    overflow: hidden;
    top: 1rem; } }
