*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --carColor: yellow;
  --windowColor: #474747;
  --bgColor: #c6e4ee;
  --topFillColor: #ffba00;
  --tireColor: white;
  --roadColor: #7E7E7E;
  --trackColor: #D3D3D3; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* // 10px/16px = 62.5% -> 1rem = 10px; */
  /* @media only screen and (min-width: ${props => props.theme.breakPoints.bpLargest}) {
      font-size: 80%; 
  }
  @media only screen and (max-width: ${props => props.theme.breakPoints.bpLarge}) {
      font-size: 50%; 
  } */ }

body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  min-height: 100vh;
  place-items: center; }

.sun {
  position: absolute;
  top: 0;
  right: 16rem; }

.main {
  width: 70%;
  height: auto;
  padding: 1rem;
  margin-bottom: -5rem;
  max-width: 70rem; }

.carRoof-svg {
  position: relative;
  height: 176px;
  width: 507px; }
  .carRoof-svg #roof {
    fill: #ffba00;
    stroke: #ffba00; }
  .carRoof-svg__backWindow {
    position: absolute;
    left: 21px;
    top: 85px;
    height: 58px;
    width: 97px; }
    .carRoof-svg__backWindow #backWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__frontWindow {
    right: 177px;
    top: 85px;
    position: absolute;
    height: 69px;
    width: 97px; }
    .carRoof-svg__frontWindow #frontWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__leftWindow {
    left: 113px;
    top: 83px;
    position: absolute;
    height: 72px;
    width: 138px;
    z-index: 6; }
    .carRoof-svg__leftWindow #leftWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__rightWindow {
    right: 259px;
    top: 87px;
    position: absolute;
    height: 69px;
    width: 150px; }
    .carRoof-svg__rightWindow #rightWindow {
      fill: var(--windowColor);
      stroke: var(--windowColor); }
  .carRoof-svg__doorFrame {
    position: absolute;
    top: 142px;
    left: 217px;
    z-index: 5;
    opacity: 0.2;
    transform: scale(1.8, 2.2); }

.carRoof {
  position: relative; }

.carBase {
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: #ffc919;
  margin-top: -1.5rem;
  border-top-right-radius: 17rem 7rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem; }
  .carBase-bumper {
    content: "";
    position: absolute;
    height: 7rem;
    width: 6rem;
    top: 8rem;
    left: -1.5rem;
    background-color: #ffc919;
    border-top-left-radius: 3.5rem 5rem;
    border-bottom-left-radius: 4rem 6rem;
    overflow: hidden; }
    .carBase-bumper__light {
      position: absolute;
      height: 1rem;
      width: 2rem;
      top: 4rem;
      left: -0.5rem;
      background-color: #f70000;
      z-index: 3; }
  .carBase-tire {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: absolute;
    background: var(--tireColor);
    bottom: -6rem; }
  .carBase .front {
    right: 11%; }
  .carBase .back {
    left: 10%; }
  .carBase .frontLight-white {
    width: 7rem;
    height: 3rem;
    background: white;
    position: absolute;
    right: 1rem;
    top: 4rem;
    border-bottom-left-radius: 4rem 5rem;
    border-top-right-radius: 11rem 3rem; }
  .carBase .frontLight-black {
    width: 4rem;
    height: 2.5rem;
    background: black;
    position: absolute;
    right: 0rem;
    top: 10rem;
    border-top-left-radius: 2rem 4rem; }
  .carBase-backLight {
    background-color: red;
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-bottom-right-radius: 3rem 4rem; }

.background {
  position: absolute;
  z-index: -2;
  bottom: 19rem; }

.road {
  height: 20rem;
  width: 100%;
  background-color: var(--roadColor);
  position: relative;
  z-index: -1;
  overflow: hidden; }
  .road-tracks {
    display: flex;
    width: 170%;
    align-self: center;
    overflow: hidden;
    position: absolute;
    top: -2rem; }
    .road-tracks__lines {
      font-size: 10rem;
      color: var(--trackColor);
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      transform: scale(7.5, 4); }
  .road-topSideWalk {
    background: linear-gradient(to bottom, #dac9c1 50%, #c9b3a9 50%, #b59b8f 60%, #bfa497 70%, #9c8781 80%, #74676b 100%);
    height: 3rem;
    width: 100%; }
  .road-bottomSideWalk {
    background: linear-gradient(to bottom, #dac9c1 50%, #c9b3a9 50%, #b59b8f 60%, #bfa497 70%, #9c8781 80%, #74676b 100%);
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0px; }
